{% load static %} {% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/home/videos_modal/videos_modal.css' %}"> -->

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/crear_usuario/crear_usuario.css' %}"
  />
</head>

<div
  class="prinst_cubo1 w-full h-full flex flex-wrap items-start justify-start"
  id="crear_usuario"
  style="display: none"
>
  <div class="structure1">
    <div class="p_photo1">
      <div class="photo_usu1">
        <img
          style="object-fit: contain"
          src="../../../static/img/icons/config.png"
          alt=""
        />
      </div>
    </div>
    <form action="" class="formu_p1">
      <div class="title_profile1">Crear cuenta</div>
      <div class="structure_form1">
        <div class="p_1_1">
          <label for="">Nombre completo</label>
          <input id="a_name" class="in_put1" type="text" placeholder="Nombre" />
        </div>
        <div class="p_1_1">
          <label for="">Apellido completo</label>
          <input
            id="a_apellido"
            class="in_put1"
            type="text"
            placeholder="Apellido"
          />
        </div>
        <div class="p_1_1">
          <label for="">Correo</label>
          <input
            id="a_correo"
            class="in_put1"
            type="email"
            placeholder="Correo@gmail.com"
          />
        </div>
        <div class="p_1_1">
          <label for="">Contraseña</label>
          <input
            id="a_contrasena"
            class="in_put1"
            type="password"
            placeholder="Contraseña"
          />
        </div>
        <div class="p_1">
          <label for="">Rol</label>
          <!-- <input
            id="a_rol"
            class="in_put"
            type="text"
            placeholder="Rol"
          /> -->
          <select id="a_rol">
            <option value="analista">Analista</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="struc_boton1">
        <button type="button" class="boton_profile1">Actualizar</button>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/crear_usu/crear_usu.js' %}"></script>
{% endblock %}
