#view_graph {
  display: flex;
  gap: 2em;
  margin-top: 5em;
  height: auto;
  min-height: 100vh;
  /* padding: 2em;
  box-sizing: border-box; */
}

.vista-previa {
  position: fixed;
  top: 4em;
  right: 0.1em;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 20%;
  height: 20vh;
  z-index: 31;
  display: none;
}

.vista-previa-imagen {
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 770px) {
  #view_graph {
  }
}

@media (max-width: 460px) {
  #view_graph {
    margin-top: 7em;
  }
}
