:root {
  --bg-ligth: #e8cccc;
  --bg-dark: #963b3b;
  --bg-dark-menu: #b95151;
  --bg-white-banner: #f6f5f5;
  --bg-white-text: #e3bebe;
}
::selection{
  background-color: pink;
  color: #000;
}
.logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed;
  line-height: 100px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo h4>span {
  color: red;
}

/* 
---------------------------------------------
About Us Style
--------------------------------------------- 
*/

#about {
  min-height: 100vh;
  position: relative;
  font-family: Raleway;
}

.about-us {
  background-image: url(../../img/landingpage/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 140px 0px 120px 0px;
}

.about-us .left-image {
  margin-right: 45px;
}

.about-us .services .item {
  margin-bottom: 30px;
}

.about-us .services .item .icon {
  float: left;
  margin-right: 25px;
}

.about-us .services .item .icon img {
  max-width: 70px;
}

.about-us .services .item h4 {
  color: var(--bg-dark);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.about-us .services .item p {
  color: #000;
}

@media (max-width:768px) {
  #about {
    min-height: 100vh;
    margin-top: 20em;
  }
}